<div class="page home">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="page title">
                    <img src="assets/svg/file.svg">
                    ToDo List App Ders:12 / 05.41
                </h2>
            </div>
            <div class="col-md-6">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Favorite food</mat-label>
                      <input matInput placeholder="Yapılacak yeni madde ekle ">
                    </mat-form-field>
                    <button mat-raised-button color="primary">Ekle +</button>
                  </form>
                  
            </div>
        </div>
    </div>
</div>